{% extends 'hotel/header.html' %}

{% block content %}

    <p class="container">
      <form method="POST" action= "{% url 'hotel:product_create' %}">
        {% csrf_token %}
        {{product_form.as_p}}
        <h6>Add Nutrients</h6>
        <div id="container">
          <div class="nested-form">
            <p>
              <label for="basic_attributes_0_select"><i class="fa fa-asterisk"></i> Nutrient</label>
              <select class="form-control select_nutrient" name="basic_attributes[0][select]" id="basic_attributes_0_select" required>
                {% for nutrient in nutrients %}
                <option value="{{ nutrient.id }}">{{ nutrient.nutrient_name }}</option>
                {% endfor %}
              </select>
            </p>
            <p>
              <label for="basic_attributes_0_number">Nutrient value:</label>
              <input type="number" name="basic_attributes[0][number]" step="any" required="" id="basic_attributes_0_number", class="form-control">
            </p>
          </div>

        </div>
        <input type="button" value="Add More Nutrient" id="add" class="btn btn-danger" >
        <br><br>

          <button style="background-color:#ADFF2F; color:grey" class="btn btn-outline-info" type="submit">Add Product</button>
        </form>
    </div>
    <script >
      $(document).ready( function () {
        $('#container').nestedForm({
          forms: '.nested-form',
          adder: '#add'
        });
      });
    </script>
{% endblock %}

